<h3>一覧画面</h3>
<% @tasks.each do |task| %>
  <div class="task_box">
    <p><%= task.title %></p>
    <p><%= task.content %></p>
    <%= link_to "詳細", task_path(task.id) %> |
    <%= link_to "編集", edit_task_path(task.id) %> |
    <%= link_to "削除", task_path(task.id), method: :delete %>
  </div>
<% end %>
