<h3>作成画面</h3>
<%= form_with(model: @task, local: true) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :content %></p>
  <p><%= f.text_area :content %></p>
  <p><%= link_to "戻る", tasks_path %></p>
  <%= f.submit "登録" %>
<% end %>
