<h3><%= t("views.new.title") %></h3>
<%= form_with(model: @task, local: true) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :content %></p>
  <p><%= f.text_area :content %></p>
  <%= f.submit %>
  <p><%= link_to t("views.new.back"), tasks_path %></p>
<% end %>
