<h3><%= t("views.show.title") %></h3>
<div class="task_box">
  <p><%= @task.title %></p>
  <p><%= @task.content %></p>
  <%= link_to t("views.show.edit"), edit_task_path(@task.id) %> |
  <%= link_to t("views.show.destroy"), task_path(@task.id), method: :delete %>
  <p><%= link_to t("views.show.back"), tasks_path %></p>
</div>
