<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h3><%= t("views.tasks.show.page") %></h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <% if @task.status == "waiting" %>
            <p><span class="label label-danger"><%= @task.status_i18n %></span></p>
          <% elsif @task.status == "working" %>
            <p><span class="label label-primary"><%= @task.status_i18n %></span></p>
          <% elsif @task.status == "completed" %>
            <p><span class="label label-default"><%= @task.status_i18n %></span></p>
          <% end %>
          <h3 class="panel-title"><%= @task.title %></h3>
        </div>
        <div class="panel-body">
          <% @task.labels_attached_to_task.each do |label| %>
            <span class="label label-info"><%= label.name %></span>
          <% end %>
          <p class="content-container"><%= Task.human_attribute_name :content %> : <%= simple_format(@task.content) %></p>
          <p><%= Task.human_attribute_name :end_time_limit %> : <%= l(@task.end_time_limit, format: :long) %></p>
          <p class="border"><%= Task.human_attribute_name :priority %> : <%= @task.priority_i18n %></p>
          <%= link_to t("views.tasks.index.edit"), edit_task_path(@task.id) %> |
          <%= link_to t("views.tasks.index.destroy"), task_path(@task.id), method: :delete, data: { confirm: t("views.tasks.show.confirm") } %>
        </div>
      </div>
      <!-- bootstrapの公式ページには「可能な限り<button>要素を使用することを強くお勧めします。」と書いてある -->
      <%= link_to t("views.tasks.show.back"), tasks_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
