<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3><%= t("views.users.show.page") %></h3>
      <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <div class="caption">
          <h3><%= @user.name %><%= t("views.users.show.user_page") %></h3>
          <p><%= t("views.users.show.email") %><%= @user.email %></p>
          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
