<div class="table_outer_labels">
  <h3><%= t("views.labels.index.page")%><%= link_to t("views.labels.index.label_new"), new_admin_label_path, class: "btn btn-default" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th><%= Label.human_attribute_name :name %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name %></td>
          <td>
            <%= link_to t("views.labels.index.edit"), edit_admin_label_path(label.id) %>&nbsp;
            <%= link_to t("views.labels.index.destroy"), [:admin, label], method: :delete, data: { confirm: t("views.labels.index.confirm") } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
