<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3><%= t("views.labels.new.page") %></h3>
      <%= form_with(model: [:admin, @label], local: true, class: "form_outer") do |f| %><!-- TODO: [:admin, @label] 書き方確認 -->
        <div class="form_inner">
          <% if @label.errors.any? %>
            <div id="error_explanation">
              <h3><%= t("errors.template.header", model: @label.model_name.human, count: @label.errors.count) %></h3>
              <ul>
                <% @label.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: "#{Label.human_attribute_name :name}", class: "form-control" %>
          </div>
        </div>
        <%= f.submit class: "cp_btn re_size" %><!-- f.submit, class: "cp_btn"とするとシンタックスエラーになる -->
      <% end %>
      <%= link_to t("views.labels.new.back"), admin_labels_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
