<div class="table_outer">
  <h3><%= t("views.users.index.page")%><%= link_to t("views.users.index.sign_up"), new_admin_user_path, class: "btn btn-default" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :email %></th>
        <th><%= User.human_attribute_name :admin %></th>
        <th><%= User.human_attribute_name :created_at %></th>
        <th><%= User.human_attribute_name :updated_at %></th>
        <th><%= t("views.users.index.task_count") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, [:admin, user] %></td>
          <td><%= user.email %></td>
          <td><%= user.admin? ? t("views.users.index.admin_yes") : t("views.users.index.admin_no") %></td>
          <td><%= l(user.created_at, format: :long) %></td>
          <td><%= l(user.updated_at, format: :long) %></td>
          <td><%= user.tasks.count %></td>
          <!-- TODO: [:admin, user]の意味、taskを削除するときもconfirm追加する -->
          <td>
            <%= link_to t("views.users.index.edit"), edit_admin_user_path(user.id) %>&nbsp;
            <%= link_to t("views.users.index.destroy"), [:admin, user], method: :delete, data: { confirm: t("views.users.index.confirm", user: user.name) } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
