<!DOCTYPE html>
<html>
  <head>
    <title>MyTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "一覧画面", tasks_path %>
      <%= link_to "作成画面", new_task_path %>
      <p><%= notice %></p>
    </header>
    <%= yield %>
  </body>
</html>
